main{
    position: absolute;
    height:336px;
    width:727px;
    margin:50px auto;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(128, 128, 128, 0.13);
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    }

    #burger,
    #burger::before,
    #burger::after {
    display: inline-block;
    height: 30px;
    width: 30px;
    font-size: 21px;
    color: #6a737c;
}

#burger {
    margin: 40px 15px;
    position: relative;
}

#burger::before {
    content: '';
    position: absolute;
    background: url("svg/down-arrow.svg");
    top: 30px;
    
}

#burger::after {
    content: '';
    position: absolute;
    background: url("svg/up-arrow.svg");
    top: -30px;
    
}

p {
    top: -40px;
    position: relative;
    display: inline-block;
    font-size: 15px;
}

code{
    position: relative;
    display: inline-block;
    background-color: #eff0f1;
    height:120px;
    width:660px;
    left: 60px;
    top:-70px;
    border-radius: 3px;
    
}
.styletext{
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
    font-size: 14px;
    padding-left: 5px;
    padding-top: 5px;
}

.violet{
color: #101094;
}

.red{
color:#7D2727;
}

.info{
display: inline-block;
position: relative;
top: -90px;
left: 60px;
}

#info{
    text-decoration: none;
    font-size: 13px;
    color: grey;
    padding: 5px;
}
.infotime{
    display: inline-block;
    position: relative;
    top: -90px;
    left: 120px;
    }
    
    #infotime{
        text-decoration: none;
        font-size: 13px;
        color: #0077cc;
        padding: 5px;
    }
    .infowiki{
        display: inline-block;
        position: relative;
        top: -55px;
        left: 180px;
        }
        
        #infowiki{
            text-decoration: none;
            font-size: 13px;
            color: #0077cc;
            
        }
        #infowiki:first-child{
            color: #6a737c;
          }
#help{
    position: relative;
    display: inline-block;
    height:57px;
    width:660px;
    left: 60px;
    top: -40px;
    border-bottom-color:rgba(128, 128, 128, 0.5);
    border-bottom-width: 1px;
    border-bottom-style:solid;
    border-top-color: rgba(128, 128, 128, 0.5);
    border-top-width: 1px;
    border-top-style:solid;
  
}

.second{
    position: relative;
    display: inline-block;
    height:20px;
    width:20px;
    color:grey;
    font-size: 14px;
    left: 0;
    top:  4px;
}
.text{
    position: relative;
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
    left: 25px;
    top: -28px;
}

#name{
    text-decoration: none;
    font-size: 13px;
    color: #0077cc;
}

#time{
    text-decoration: none;
    font-size: 13px;
    color: #6a737c;
}

.comment {
    position: relative;
    display: inline-block;
    left: 60px;
    top:-55px;
    text-decoration: none;
    color:grey;
    font-size: 13px;
}